body {
  background-color: #414141;
}

h1 {
  font-size: 10rem;
  color: #08ffc8;
  margin-top: 2%;
  margin-bottom: 1%;

}


p {
  font-size: 2rem;
  color: #08ffc8;
}

footer {
  text-align: center;
  margin-top: 4%;
  font-size: 1.5rem;
}

.container {
  text-align: center;
}

.dice {
  display: inline-block;
  margin-right: 4%;

}

.img1  {
  height: 200px;
  width: 200px;
}

.img2  {
  height: 200px;
  width: 200px;
}
